.aboutUS-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  img {
    width: 1403px;
  }
  .hrAboutUS {
    // position: absolute;
    margin-top: 70px;
    width: 800px;
  }
  .accordion-container {
    margin-top: 30px;
    
    .accordion-item {
      display: flex;
      flex-direction: column;
      transition: 0.4s;
      outline: none;
      .hrItem {
        margin: 30px 0;
        width: 800px;
      }
      .accordion-title {
        cursor: pointer;
        width: 800px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // border: 1px solid black;
        .accordion-title-name {
          font-weight: bold;
          font-size: 23px;
          text-transform: uppercase;
        }
        .plus {
          position: relative;
          width: 40px;
          height: 40px;
          background-color: #333;
          cursor: pointer;
          transition: transform 0.3s ease-in-out;

          .line {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 30px;
            height: 4px;
            background-color: #fff;
            transform: translate(-50%, -50%);
            transition: transform 0.3s ease-in-out;
          }

          .line1 {
            transform: translate(-50%, -50%) rotate(0deg);
          }

          .line2 {
            transform: translate(-50%, -50%) rotate(90deg);
          }

          &.open {
            transform: rotate(90deg);

            .line1 {
              transform: translate(-50%, -50%) rotate(45deg);
            }

            .line2 {
              transform: translate(-50%, -50%) rotate(-45deg);
            }
          }
        }
      }
      .accordion-content {
        overflow: hidden;
        letter-spacing: 1px;
        line-height: 22px;
        margin-top: 30px;
        width: 800px;
        max-height: 0;
        transition: max-height 0.5s ease-in-out;
        &.visible {
          max-height: 1000px;
          transition: max-height 1s ease-in-out;
        }
      }
    }
  }
}
