.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* add a semi-transparent black color */
  z-index: 100;
  /* make sure the backdrop is behind everything else */
  cursor: pointer; /* change the cursor to a pointer on hover to indicate it's clickable */
  .icon {
    margin-top: 20px;
    margin-right: 20px;
    float: right;
    font-size: 40px;
    color: #fafafa;
    transition: color 0.5s ease;
    &:hover {
      color: lightgray;
    }
  }
}
